*{ 
   box-sizing: border-box; /* Applies border box calculations for all CSS */
   }

.toptitle { /* Title at the top of the page */
   font-family: 'Great Vibes';
   color: black;
   font-size: 60px;
   font-weight: normal;
   text-align: center;
   margin: 60px 0px 30px 0px;
}

.row { /* CSS for both rows */
   display: flex;
   flex-direction: row;
   align-items: stretch;
   margin-left: 20px;
   margin-right: 20px;
}

.story-title { /* Font configuation for story titles */
   text-align: center;
   font-size: 40px;
   font-family: "Times New Roman";
   font-style: italic;
   font-weight: 500;
   margin: 15px;
}

.story { /* Applies to each rectangle that has <article> */
   border: 1px solid #333;
   padding: 5px;
}

.story.one-quarter { /* Applies a quarter width of the webpage for all content inside */
   width: 25%; 
}

.story.two-quarter { /* Applies a two-quarter width of the webpage for all content inside */  
   width: 50%;
}

.story-three-quarter { /* Applies a three-quarter width of the webpage for all content inside */  
   width: 75%;   
 }

.story-text {
   font-style: "Times New Roman";
   font-size: 18px;
   line-height: 1.5; /* 1.2-1.5 good line height for reading paragraphs of text */
}

.img { /* Specifices that image linked to .img should take up 100% of the page */  
   width: 100%;
}

.nav-list { /* CSS properties for navigation links*/  
   display: flex;
   flex-direction: column;
   font-size: 40px;
   font-weight: bold;
   font-family: "Dubai, Arial, Helvetica";
   margin: 0px;
   padding: 0px;
   list-style: none;
   color: #444;
}
  
.nav-item { /* Allows for navigation items to utilize 100% of area designated to it. Also flex:1; allows nav-item items to utlilize all vertical space equally */ 
   width: 100%;
   display: flex;
   flex: 1;
   align-items: center;
   padding-left: 30px;
 }

 .nav-item a {
    text-decoration: none;
    color: #444;
 }

 .nav-item a:hover {
    text-decoration: underline;
 }

   .nav-item:nth-child(1) {
  background-color: #ffeaa7;
   }

   .nav-item:nth-child(2) {
   background-color: #81ecec;
   }

   .nav-item:nth-child(3) {
   background-color: #55efc4;
   }

   .nav-item:nth-child(4) {
   background-color: #74b9ff;
   }

   .nav-item:nth-child(5) {
   background-color: #a29bfe;
   }